.Filter{
}
.HeaderFilter{
    display: flex;
    cursor: pointer;
    font: var(--font-main);
    margin: 5px 20px;
}
.ActiveHeaderFilter{
    display: flex;
    cursor: pointer;
    font: var(--font-main);
    margin: 5px 20px;
    color: var(--background-color-button-navbar);
}

.Vector{
    margin: 0 0 3px 0;
}
.ContainerVector{
    width: 25px;
}

.OpenFilter{
    border-radius: 3px;
    margin: 10px;
    background: var(--background-color-info);
    font: var(--font-main);
    box-shadow: 3px 3px 53px 3px rgba(34, 60, 80, 0.28);
    overflow: hidden;
    position: absolute;
    width: 90px;
}
.RowFilter{
}
.TextFilter{
    margin: 10px auto;
}
.ActiveRowFilter{
    background: var(--background-color-active-row);
    cursor: pointer;
}
.TextRow{
    margin: 0 0 0 6px;
}