.FilterDate{
    margin: 5px 30px;
    font: var(--font-main);
    position: absolute;
    right: 120px;
    top: 20px;
}
.OpenFilter{
}
.TextHeader{
    margin: 2px 0 0 0;
}
.HeaderFilter{
    display: flex;
    cursor: pointer;
}
.Calendar{
    margin: 0 5px;
}
.Vector{
    margin: 0 0 -4px 0 ;
}
.StatusHeader{
    display: flex;
}
