@font-face {
  font-family: 'SFProDisplay-Regular';
  src: url('fonts/SFProDisplay-Regular.eot') format('eot');
  src: local('@'),
       url('./fonts/SFProDisplay-Regular.eot') format('eot'),
       url('./fonts/SFProDisplay-Regular.ttf') format('ttf'),
       url('fonts/SFProDisplay-Regular.woff') format('woff'),
       url('fonts/SFProDisplay-Regular.woff2') format('woff2');

}

