@import "reset";
@import "fonts";



:root {
    --background-color-navbar:  #091336;
    --background-color-page: #e9ebf0;
    --background-color-info: #f5f5f5;
    --background-color-button-navbar: #085cef;

    --font-family-main: "SFProDisplay-Regular", serif ;
    --font-size-brand: 1.76em;



    // font  main
    --font-size-main: 15px;
    --font-line-height-main: 21px;
    --font-weight-main: 400;
    --font-main: var(--font-weight-main) var(--font-size-main)  / var(--font-line-height-main) var(--font-family-main);

        // font  navbar
    --font-size-navbar: 16px;
    --font-line-height-navbar: 24px;
    --font-weight-navbar: 500;
    --font-navbar: var(--font-weight-navbar) var(--font-size-navbar)  / var(--font-line-height-navbar) var(--font-family-main);


    // font logo m
    --font-size-medium-main: 24px;
    --font-line-height-medium-main: 140%;
    --font-medium-main: var(--font-size-medium-main) / var(--font-line-height-medium-main) var(--font-family-main) ;


    // font logo l
    --font-size-large-main: 38px;
    --font-line-height-large-main: 120%;
    --font-weight-large-main: 700;
    --font-large-main: var(--font-weight-large-main) var(--font-size-large-main) / var(--font-line-height-large-main) var(--font-family-main) ;

    // font logo xl
    --font-size-extra-large-main: 46px;
    --font-line-height-extra-large-main: 110%;
    --font-weight-extra-large-main: 700;
    --font-extra-large-main: var(--font-weight-extra-large-main) var(--font-size-extra-large-main)  / var(--font-line-height-extra-large-main) var(--font-family-main)  ;


    // button
    --font-size-button: 15px;
    --font-line-height-button: 140%;
    --font-weight-button: 500;
    --font-button: var(--font-weight-button) var(--font-size-button)  / var(--font-line-height-button) var(--font-family-main)  ;




            // font  s -mobile
    --font-size-small-main-mobile: 16px;
    --font-line-height-small-main-mobile: 140%;
    --font-small-main-mobile: var(--font-size-small-main) / var(--font-line-height-small-main) var(--font-family-main) ;


        // font logo xl -mobile
    --font-size-extra-large-main-mobile: 24px;
    --font-line-height-extra-large-main-mobile: 160%;
    --font-weight-extra-large-main-mobile: 700;
    --font-extra-large-main-mobile: var(--font-weight-extra-large-main-mobile) var(--font-size-extra-large-main-mobile)  / var(--font-line-height-extra-large-main-mobile) var(--font-family-main)  ;





    --font-family-logo:  "Airfool", serif;

    // s
    --font-size-small-logo: 32px;
    --font-line-height-small-logo: normal;
    --font-style-small-logo: normal;
    --font-weight-small-logo: 400;

    --font-small-logo: var(--font-size-small-logo) / var(--font-line-height-small-logo) var(--font-family-logo);

    //// m
    --font-size-medium-logo: 72px;
    --font-line-height-medium-logo: normal;
    --font-medium-logo: var(--font-size-medium-logo) / var(--font-line-height-medium-logo) var(--font-family-logo);

    //// l
    --font-size-large-logo: 96px;
    --font-line-height-large-logo: normal;
    --font-large-logo: var(--font-size-large-logo) / var(--font-line-height-large-logo) var(--font-family-logo);

        //// m mobile
    --font-size-medium-logo-mobile: 24px;
    --font-line-height-medium-logo-mobile: normal;
    --font-medium-logo-mobile: var(--font-size-medium-logo-mobile) / var(--font-line-height-medium-logo-mobile) var(--font-family-logo);




    //--font-size-xl: 32px;
    //--font-line-xl: 40px;
    //--font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);
    //
    //// Размеры
    //--navbar-height: 50px;
    //--sidebar-width: 300px;
    //--sidebar-width-collapsed: 80px;
    //
    //// z - Индексы
    //--modal-z-index: 1000;
    //--overlay-z-index: 100;

    // Цвета
    --app-background: rgba(255, 255, 255, 1);
    --app-accent: rgba(232, 231, 231, 1);
    --app-main-text: rgba(18, 18, 18, 1);
    --app-secondary-text: rgba(18, 18, 18, 0.7);
    --app-main-text-light: rgba(255, 255, 255, 1);
    --app-secondary-text-light: rgba(18, 18, 18, 0.9);
    --app-primary-100: rgba(44, 95, 66, 1);
    --app-primary-20: rgba(44, 95, 66, 0.2);
}

