.MainPage{
    background: var(--background-color-page);

}
.Brand{
    font-family: var(--font-family-brand);
    font-size: var(--font-size-brand)
}
.Link{
    font-family: var(--font-family-navbar);
    font-size: var(--font-size-navbar);
}
.BlockFilter{
    display: flex;
    width: 100%;
}