.MainPage{
    background: var(--background-color-page);

}
.Brand{
    font-family: var(--font-family-brand);
    font-size: var(--font-size-brand)
}
.Link{
    font-family: var(--font-family-navbar);
    font-size: var(--font-size-navbar);
}
.BlockFilter{
    display: flex;
    width: 85%;
    margin: 0 auto;
    color: var(--text-header-color);
}
.Search{
    margin: 0 15px 0 0 ;
    width: 16px;
}
.SearchBlock{
    font: var(--font-main);
    margin: 6px auto 0 0;
}
.ListingBalance{
    display: flex;
    padding: 10px;
    position: relative;
    height: 40px;

}
.Balance{
    position: absolute;
    right: 290px;
    top: 15px;
}