.BlockInfo{
    background: var(--background-color-info);
    border-radius: 10px ;
    width: 85%;
    margin: 0 auto;
    padding: 10px;
    font: var(--font-main);
    color: var(--text-header-color);
}
th {
    width: auto;
    padding: 0 20px;
}
td {
    width: auto;
    text-align: center;
    vertical-align: middle;

}

.Avatar{
    width: 32px;
    margin: 5px 0 0 35px;
}
.TypeCall{
    width: 24px;
    margin: -5px 5px;
}
.RowCall{
    border-top: 2px solid #ececec;
    border-bottom: 2px solid #ececec;

}
.RowCallActive{
    background: var(--background-color-page);
}
.Table{
    margin: 20px auto;
}
.Player{
    width: 400px;
}
.BlackText{
    color: black;
}
.SortBy{
    cursor: pointer;
}